<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>
    <script src="https://kit.fontawesome.com/37772fc69d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
	font-family: 'sans', cursive;
	font-size: 16px;
	background: #eee;
}

footer {
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	background: #222;
	color: #ccc;
	padding: 15px;
	text-align: center;
}

footer a {
	color: #ccc;
}

footer a:hover, footer a:focus {
	color: #abc123;
	text-decoration: none;
}

p {
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

p.lead {
	font-size: 24px;
	font-weight: 500;
}

.img-thumbnail {
	border: 3px solid #111;
}

hr.secDiv {
	border: 3px solid #ccc;
	box-shadow: 0 1px 0 #999;
	margin: 30px 0;
}

nav a.navbar-brand {
	font-size: 24px;
}

nav .navbar-nav > li > a {
	font-size: 20px;
}

header.top h1 {
	font-size: 50px;
}

header.top h3 {
	line-height: 0;
	margin-bottom: 30px;
}

.social {
	font-size: 40px;
}

.social a {
	color: #666;
	text-decoration: none;
	transition: all 0.3s;
}

.social a:hover,
.social a:focus {
	color: #111;
	text-shadow: 0px 0px 3px #111;
}

#about h2,
#portfolio h2,
#contact h2 {
	font-size: 40px;
	margin: 0 0 15px 0;
}

.panel {
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

#contact {
	min-height: 250px;
}
    </style>
</head>
<body>
    <header class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>FinFlo</h1>
                    <h3>Your scf made easy</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center social">
                    <a href="https://supplychainfinance.netlify.app/" target="_blank">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a href="https://venzoscf.herokuapp.com/api-urls/" target="_blank">
                        <i class="fa fa-plug"></i>
                    </a>
                    <a href="https://documenter.getpostman.com/view/11858287/Uyr5pf1h" target="_blank">
                        <i class="fa fa-file"></i>
                    </a>
                    <a href="https://github.com/venzo-tech/scfbackend" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
            <hr class="secDiv">
        </div>
    </header>
    <main>
        <section id="about" class="container">
            <div class="row">
                <div class="col-md-3 text-right hidden-sm hidden-xs">
                    <h2>Description<br></h2>
                </div>
                <div class="col-xs-12 col-md-9">
                    <h2 class="visible-xs visible-sm">About FinFlo</h2>
                    <p class="lead">I am a cyber-nerd from India who absolutely loves technology.</p>
                    <p class="text-justify">I am also a coder, developer, hacker, blogger, reader, writer, thinker, entrepreneur, gamer, music lover, teacher, motivator, nature admirer and coffee addict. Apart from a Bachelor’s degree in Computer Science and a couple certifications in the IT
                        domain, I’m mostly a self taught Full Stack Web Developer and Mobile Applications Developer. I have been dabbling in Computer Science for the past 10 years, often experimenting, learning new things, building personal projects and so on. My passion
                        drives me to stay updated with the latest trends in the field of cyber, web and information technology. I endorse the Open-Source community and do my best to contribute towards it. I am looking forward to getting a Masters Degree in Computer Science
                        to further enhance my knowledge and boost my career. My goal is to meet and work with a team of like-minded people where I can ideate freely and use my expertise to achieve excellence or build something truly remarkable.</p>
                    <p class="text-justify">I am available as a freelance web developer and would love to take up challenging projects. If you would like to talk about a project, opportunity, consult about something or would simply like to chat, feel free to leave a message. I promise I don't bite :)</p>
                </div>
            </div>
            <hr class="secDiv">
        </section>
        <section id="portfolio" class="container">
            <div class="row">
                <div class="col-md-3 text-right hidden-sm hidden-xs">
                    <h2>My<br>Portfolio</h2>
                </div>
                <div class="col-xs-12 col-md-9">
                    <h2 class="visible-xs visible-sm">My Portfolio</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Project 1</h4>
                                </div>
                                <div class="panel-body">
                                    <img class="img-responsive" src="http://placehold.it/1440x900" alt="Project 1 image">
                                    <p>Short project description goes here...</p>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-default btn-block" href="#">
                                        Check it out <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Project 2</h4>
                                </div>
                                <div class="panel-body">
                                    <img class="img-responsive" src="http://placehold.it/1440x900" alt="Project 2 image">
                                    <p>Short project description goes here...</p>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-default btn-block" href="#">
                                        Check it out <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Project 3</h4>
                                </div>
                                <div class="panel-body">
                                    <img class="img-responsive" src="http://placehold.it/1440x900" alt="Project 3 image">
                                    <p>Short project description goes here...</p>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-default btn-block" href="#">
                                        Check it out <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Project 4</h4>
                                </div>
                                <div class="panel-body">
                                    <img class="img-responsive" src="http://placehold.it/1440x900" alt="Project 4 image">
                                    <p>Short project description goes here...</p>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-default btn-block" href="#">
                                        Check it out <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Project 5</h4>
                                </div>
                                <div class="panel-body">
                                    <img class="img-responsive" src="http://placehold.it/1440x900" alt="Project 5 image">
                                    <p>Short project description goes here...</p>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-default btn-block" href="#">
                                        Check it out <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Project 6</h4>
                                </div>
                                <div class="panel-body">
                                    <img class="img-responsive" src="http://placehold.it/1440x900" alt="Project 6 image">
                                    <p>Short project description goes here...</p>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-default btn-block" href="#">
                                        Check it out <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="secDiv">
        </section>
        <section id="contact" class="container">
            <div class="row">
                <div class="col-md-3 text-right hidden-sm hidden-xs">
                    <h2>Contact<br>Me</h2>
                </div>
                <div class="col-xs-12 col-md-9">
                    <h2 class="visible-xs visible-sm">Contact Me</h2>
                    <p class="lead">You can write to me at:-</p>
                    <p class="lead"><em><a href="mailto:santakmishra@outlook.com">santakmishra@outlook.com</a></em></p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <span class="pull-left">&copy; 2016, Santak Mishra</span>
            <span class="pull-right">
                <a href="#">
                    <i class="fa fa-arrow-circle-o-up"></i> Back to Top
                </a>
            </span>
        </div>
    </footer>
</body>
</html>